.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.startSurvey {
    border: 3px solid black;
    width: 60%;
    padding: 50px 0;
    border-radius: 10px;
}

.modal {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: peachpuff;
    border: 2px solid #000;
    box-shadow: 24;
    p: 4;
    height: 60%;
      
}